<template>
  <div>
    <div class="judul">
      <h3>Agit Amrullahh</h3>
    </div>
  </div>
</template>

<script>
export default {
    layout: 'master'
};
</script>

<style lang="scss">
.judul {
    h3 {
        color: coral;
    }
}
</style>
