<template>
    <div>
        <bagian-header />
        <Nuxt />
        <bagianFooter />
    </div>
</template>

<script>
import bagianHeader from '@/components/header'
import bagianFooter from '@/components/footer'

export default {
    components: {
        bagianHeader,
        bagianFooter
    },
    head() {
        return {
            bodyAttrs: {
                class: 'iniclassBody',
                id: 'page-top'
            }
        }
    }
}
</script>